:root{
    /* local color code definitions */
    --element-p: #5d14db;
    --element-b: #16bdbd;
    --element-g1: #5a5858;
    --element-g2: #2c2b2b;
}

/* width */
::-webkit-scrollbar {
    height: 15px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--element-p);
    border-radius: 0.7vw;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: var(--element-p); 
} */

.banner{
    display: block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    height: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 1vw;
    border: 0.5vh solid var(--element-b);
    box-shadow: var(--element-p) 1vh 1vh;
    user-select: none;
    position: relative;
}

.modeToggleOff{
    height: 6%;
    width: 3%;
    position: absolute;
    bottom: 2%;
    right: 0.5%;
    border: 0.5vh solid var(--element-g2);
    border-radius: 999px;
}

.toggleOff{
    height: 2%;
    width: 0.8%;
    position: absolute;
    bottom: 4.2%;
    right: 2%;
    background: var(--element-g2);
    border: 0.5vh solid var(--element-g2);
    border-radius: 999px;
    cursor: pointer;
    animation-name: toggleOff;
    animation-duration: 0.25s;
}

.modeToggleOn{
    height: 6%;
    width: 3%;
    position: absolute;
    bottom: 2%;
    right: 0.5%;
    border: 0.5vh solid white;
    border-radius: 999px;
}

.toggleOn{
    height: 2%;
    width: 0.8%;
    position: absolute;
    bottom: 4.2%;
    right: 1.2%;
    background: white;
    border: 0.5vh solid white;
    border-radius: 999px;
    cursor: pointer;
    animation-name: toggleOn;
    animation-duration: 0.25s;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    height: auto;
    width: 55%;
}

.caption{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.captionText{
    background-image: url(./img/Gradient\ Generator\ Exported\ PNG.png);
    background-repeat: repeat;
    background-position-x: center;
    background-size: 55%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Naston', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-size: 37px;
}

.baseDark.baseLight{
    /* background-color: var(--element-g1); */
    background-image: url("./img/light.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.baseDark{
    /* background-color: var(--element-g2); */
    background-image: url("./img/dark.png") ;
    background-size: cover;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from {opacity: 0.0;}
    to {opacity: 1.0;}
}

@keyframes pullUp {
    from {padding-top: 5vh;}
    to {padding-top: 1vh;}
}

@keyframes toggleOn {
    from  {right: 2%;}
    to {right: 1.2%;}
}

@keyframes toggleOff {
    from  {right: 1.2%;}
    to {right: 2%;}
}

.mainPanels{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: auto;
    width: auto;
    animation-name: fadeIn;
    animation-duration: 1s;
    position: relative;
}

.sectionBlock{
    display: table-cell;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    padding-bottom: 10vh;
    animation-name: pullUp;
    animation-duration: 1s;
}

.sectionTitle{
    font-family: 'Naston', sans-serif;
    color: var(--element-b);
    text-shadow: var(--element-p) 0.35vh 0.35vh;
    font-size: 37px;
    text-align: center;
}

.sectionContent{
    height: 35vw;
    width: 28vw;
    background-color: rgba(0, 0, 0, 0.500);
    font-size: 25px;
    color: var(--element-b); 
    font-family: 'Naston', sans-serif;
    border-radius: 1vw;
    border: 0.5vh solid var(--element-b);
    box-shadow: var(--element-p) 1vh 1vh;
    text-shadow: var(--element-p) 0.2vh 0.2vh;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.teamMember{
    height: fit-content;
    justify-content: center;
    align-content: center;
    padding-block-start: 2.5%;
    padding-block-end: 5%;
    margin-left: 4%;
}

.teamPic{
    float: left;
    height: 150px;
    width: 150px;
    border: 0.5vh solid var(--element-p);
    border-radius: 999px;
    user-select: none;
    margin-top: 2%;
}

.memberInfo{
    margin-top: 2%;
    margin-left: 35%;
}

.memberName{
    text-decoration-line: underline;
}

.teamRoles{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    list-style-type: square;
}

.discAct{
    margin-top: 1%;
    margin-left: 5%;
    height: 30px;
    width: auto;
    border: 0.25vh solid var(--element-p);
    border-radius: 999px;
    user-select: none;
}

.list{
    text-decoration-line: underline;
}

ol {
    display: block;
    margin-top: 3%;
    margin-left: 2%;
}
ol li {
    display: list-item;
    position: relative;
    margin-bottom: 2%;
}
ol li ul {
    position: absolute;
    left: 0;
    width: 90%;
    border-radius: 1vw;
    display: block;
    opacity: 0;
    visibility: hidden;
    margin-top: 1%;
}
ol li ul li { 
    display: list-item;
    justify-content: left;
    list-style-type: disc;
    font-size: 15px;
    padding-right: 2%;
    margin-top: 2%;
}
ol li ul li p { 
    display: list-item;
    margin-top: 2%;
    margin-left: 5%;
    list-style-type: circle;
    font-size: 12px;
}
ol li:hover ul {
    background-color: var(--element-p);
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.linksGroup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Naston', sans-serif;
    font-size: 15px;
    bottom: 1%;
    text-align: center;
}

.linkText{
    color: white;
    padding-inline-end: 20px;
}

.linkText:hover{
    color: var(--element-p);
    padding-inline-end: 20px;
}